In [12]:
import pandas as pd
import os
import matplotlib.pyplot as plt

In [2]:
data_loc = '/Users/simon/Documents/DTU/9. semester/deep learning/data'

measurements_all = [pd.read_csv(os.path.join(data_loc, f'Case{case}',f'Proj_Measurements_Case{case}.csv'), parse_dates=['Date_Time']) for case in (1,2,3)]
nwp_all = [pd.read_csv(os.path.join(data_loc, f'Case{case}',f'Proj_NWP_Case{case}.csv'), parse_dates=['Date_Time']) for case in (1,2,3)]

for i in range(3):
    measurements_all[i].name = f'Measurement {i+1}'
    nwp_all[i].name = f'NWP {i+1}'

df_all = measurements_all+nwp_all

In [11]:
for df in df_all:
    print('Dataframe: ',df.name)
    print('\nVariable names:    Number of nan:')
    print(df.isna().sum())

    print(f'\nNumber of observations: {len(df.index)}. Memory usage: {df.memory_usage().sum()/1048576:.2f} mb')

    display(df.describe())


    print('Minimum time difference:', df['Date_Time'].diff().min())
    print('Maximum time difference:', df['Date_Time'].diff().max())

Dataframe:  Measurement 1

Variable names:    Number of nan:
Date_Time               0
Speed_10m             475
Direction_10m         475
Speed_30m             475
Direction_30m         475
Speed_65m             475
Direction_65m         475
Speed_70m             475
Direction_70m         475
Speed_80m          107433
Direction_80m      107433
Park Power [KW]      4813
dtype: int64

Number of observations: 147205. Memory usage: 13.48 mb

,Speed_10m,Direction_10m,Speed_30m,Direction_30m,Speed_65m,Direction_65m,Speed_70m,Direction_70m,Speed_80m,Direction_80m,Park Power [KW]
count,146730.000000,146730.000000,146730.000000,146730.000000,146730.000000,146730.000000,146730.000000,146730.000000,39772.0,39772.0,142392.000000
mean,3.223092,197.287962,6.542762,201.393653,5.442744,203.584827,7.031156,188.332053,0.0,0.0,14847.258624
std,3.951957,79.243239,3.906181,79.225843,4.709219,83.881323,4.188691,75.969289,0.0,0.0,15060.398944
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,-314.000000
25%,0.067000,170.000000,3.667000,167.800000,0.767000,163.600000,3.967000,149.900000,0.0,0.0,1830.000000
50%,1.600000,217.400000,5.667000,230.000000,4.900000,226.300000,6.433000,203.000000,0.0,0.0,9441.000000
75%,5.200000,246.000000,8.667000,248.600000,8.467000,254.900000,9.500000,225.700000,0.0,0.0,24913.500000
max,23.967000,360.000000,27.167000,360.000000,32.167000,360.000000,28.400000,360.000000,0.0,0.0,49896.000000

Minimum time difference: 0 days 00:15:00
Maximum time difference: 0 days 00:15:00
Dataframe:  Measurement 2

Variable names:    Number of nan:
Date_Time              0
Speed_10m           7524
Direction_10m       7524
Speed_30m           7524
Direction_30m       7524
Speed_65m           7524
Direction_65m       7524
Speed_70m          10500
Direction_70m      10500
Park Power [KW]     2482
dtype: int64

Number of observations: 174927. Memory usage: 13.35 mb

,Speed_10m,Direction_10m,Speed_30m,Direction_30m,Speed_65m,Direction_65m,Speed_70m,Direction_70m,Park Power [KW]
count,167403.000000,167403.000000,167403.000000,167403.000000,167403.000000,167403.000000,164427.000000,164427.000000,172445.000000
mean,2.250325,209.632154,4.591542,208.216658,5.568522,208.067720,5.246556,198.196066,22322.760486
std,2.006140,79.322240,2.900411,77.893663,3.275695,77.638411,3.599624,95.621154,26846.601053
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-49.000000
25%,0.533000,158.600000,2.595000,155.100000,3.277000,166.900000,2.733000,145.100000,1190.000000
50%,1.926000,206.300000,4.065000,216.500000,5.100000,211.800000,4.873000,206.100000,10658.000000
75%,3.346000,273.300000,6.065000,271.100000,7.411000,271.200000,7.391000,275.200000,34639.000000
max,15.600000,360.000000,22.133000,359.900000,25.000000,360.000000,24.033000,360.000000,100671.000000

Minimum time difference: 0 days 00:15:00
Maximum time difference: 0 days 00:15:00
Dataframe:  Measurement 3

Variable names:    Number of nan:
Date_Time             0
Speed_10m          1516
Direction_10m      1516
Speed_30m          1516
Direction_30m      1516
Speed_50m          1516
Direction_50m      1516
Speed_80m          1516
Direction_80m      1516
Park Power [KW]    1248
dtype: int64

Number of observations: 118382. Memory usage: 9.03 mb

,Speed_10m,Direction_10m,Speed_30m,Direction_30m,Speed_50m,Direction_50m,Speed_80m,Direction_80m,Park Power [KW]
count,116866.000000,116866.000000,116866.000000,116866.000000,116866.000000,116866.000000,116866.000000,116866.000000,117134.000000
mean,4.958773,191.156230,1.807336,48.317606,5.446259,189.712171,5.755528,198.342824,11350.979895
std,2.577617,82.724207,2.863969,76.048960,2.775895,94.016598,3.209452,87.810076,12158.275204
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.199000,146.600000,0.000000,0.000000,3.486000,112.800000,3.485000,162.800000,1321.000000
50%,4.556000,207.100000,0.000000,0.000000,5.148000,211.200000,5.564000,215.600000,7042.500000
75%,6.362000,240.000000,3.615000,111.800000,7.074000,261.100000,7.808000,254.300000,17611.000000
max,21.100000,360.000000,18.680000,359.500000,21.017000,360.000000,21.797000,360.000000,49789.000000

Minimum time difference: 0 days 00:15:00
Maximum time difference: 0 days 00:15:00
Dataframe:  NWP 1

Variable names:    Number of nan:
Date_Time            0
Direction_10m        0
Speed_10m            0
Temperature_10m      0
Pressure_seaLevel    0
Air Density_10m      0
Direction_50m        0
Speed_50m            0
Temperature_50m      0
Air Density_50m      0
Direction_100m       0
Speed_100m           0
Temperature_100m     0
Air Density_100m     0
Direction_150m       0
Speed_150m           0
Temperature_150m     0
Air Density_150m     0
dtype: int64

Number of observations: 181670. Memory usage: 24.95 mb

,Direction_10m,Speed_10m,Temperature_10m,Pressure_seaLevel,Air Density_10m,Direction_50m,Speed_50m,Temperature_50m,Air Density_50m,Direction_100m,Speed_100m,Temperature_100m,Air Density_100m,Direction_150m,Speed_150m,Temperature_150m,Air Density_150m
count,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000,181670.000000
mean,216.240397,3.737155,4.153529,993.219940,1.252281,214.380277,3.092342,4.153529,1.252281,217.949370,6.440942,4.153529,1.252281,217.938377,9.900758,4.153529,1.252281
std,79.309326,1.842440,14.532573,8.478844,0.074078,78.983828,1.600076,14.532573,0.074078,81.219988,3.010669,14.532573,0.074078,82.320458,4.641993,14.532573,0.074078
min,0.000000,0.000000,-31.200000,962.500000,1.112000,0.000000,0.000000,-31.200000,1.112000,0.000000,0.100000,-31.200000,1.112000,0.000000,0.100000,-31.200000,1.112000
25%,179.000000,2.350000,-8.970000,986.940000,1.186000,178.000000,1.880000,-8.970000,1.186000,180.000000,4.110000,-8.970000,1.186000,179.000000,6.180000,-8.970000,1.186000
50%,249.000000,3.440000,5.510000,993.100000,1.242000,246.000000,2.740000,5.510000,1.242000,253.000000,6.370000,5.510000,1.242000,255.000000,10.000000,5.510000,1.242000
75%,266.000000,4.890000,17.000000,999.670000,1.318000,265.000000,4.050000,17.000000,1.318000,268.000000,8.590000,17.000000,1.318000,268.000000,13.460000,17.000000,1.318000
max,359.000000,13.100000,34.200000,1017.190000,1.451000,359.000000,11.400000,34.200000,1.451000,359.000000,20.200000,34.200000,1.451000,359.000000,29.200000,34.200000,1.451000

Minimum time difference: 0 days 00:15:00
Maximum time difference: 2 days 00:15:00
Dataframe:  NWP 2

Variable names:    Number of nan:
Date_Time            0
Direction_10m        0
Speed_10m            0
Temperature_10m      0
Pressure_seaLevel    0
Air Density_10m      0
Direction_50m        0
Speed_50m            0
Temperature_50m      0
Air Density_50m      0
Direction_100m       0
Speed_100m           0
Temperature_100m     0
Air Density_100m     0
Direction_150m       0
Speed_150m           0
Temperature_150m     0
Air Density_150m     0
dtype: int64

Number of observations: 173695. Memory usage: 23.85 mb

,Direction_10m,Speed_10m,Temperature_10m,Pressure_seaLevel,Air Density_10m,Direction_50m,Speed_50m,Temperature_50m,Air Density_50m,Direction_100m,Speed_100m,Temperature_100m,Air Density_100m,Direction_150m,Speed_150m,Temperature_150m,Air Density_150m
count,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000,173695.000000
mean,215.937436,3.376196,4.953279,995.898775,1.251909,213.530816,2.826745,4.953279,1.251909,220.537586,5.737092,4.953279,1.251909,221.855217,8.799496,4.953279,1.251909
std,87.387956,1.772969,14.278703,8.514540,0.072934,88.903334,1.550585,14.278703,0.072934,84.942595,2.822881,14.278703,0.072934,84.489842,4.285178,14.278703,0.072934
min,0.000000,0.000000,-32.700000,964.600000,1.118000,0.000000,0.000000,-32.700000,1.118000,0.000000,0.000000,-32.700000,1.118000,0.000000,0.000000,-32.700000,1.118000
25%,136.000000,2.060000,-7.600000,989.590000,1.188000,131.000000,1.660000,-7.600000,1.188000,148.000000,3.580000,-7.600000,1.188000,152.000000,5.450000,-7.600000,1.188000
50%,256.000000,3.020000,6.570000,995.650000,1.240000,255.000000,2.450000,6.570000,1.240000,259.000000,5.570000,6.570000,1.240000,261.000000,8.700000,6.570000,1.240000
75%,281.000000,4.450000,17.490000,1002.375000,1.314000,281.000000,3.720000,17.490000,1.314000,280.000000,7.630000,17.490000,1.314000,280.000000,11.990000,17.490000,1.314000
max,359.000000,14.800000,33.900000,1020.180000,1.453000,359.000000,13.000000,33.900000,1.453000,359.000000,22.100000,33.900000,1.453000,359.000000,31.200000,33.900000,1.453000

Minimum time difference: 0 days 00:15:00
Maximum time difference: 2 days 00:15:00
Dataframe:  NWP 3

Variable names:    Number of nan:
Date_Time            0
Direction_10m        0
Speed_10m            0
Temperature_10m      0
Pressure_seaLevel    0
Air Density_10m      0
Direction_50m        0
Speed_50m            0
Temperature_50m      0
Air Density_50m      0
Direction_100m       0
Speed_100m           0
Temperature_100m     0
Air Density_100m     0
Direction_150m       0
Speed_150m           0
Temperature_150m     0
Air Density_150m     0
dtype: int64

Number of observations: 164094. Memory usage: 22.54 mb

,Direction_10m,Speed_10m,Temperature_10m,Pressure_seaLevel,Air Density_10m,Direction_50m,Speed_50m,Temperature_50m,Air Density_50m,Direction_100m,Speed_100m,Temperature_100m,Air Density_100m,Direction_150m,Speed_150m,Temperature_150m,Air Density_150m
count,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000,164094.000000
mean,196.231282,3.038068,8.282799,995.034221,1.235723,192.627287,2.507836,8.282799,1.235723,203.774903,5.373768,8.282799,1.235723,206.725682,8.432676,8.282799,1.235723
std,89.052316,1.494551,13.600326,9.191981,0.070183,88.779898,1.284403,13.600326,0.070183,90.356705,2.525289,13.600326,0.070183,91.089313,3.961647,13.600326,0.070183
min,0.000000,0.000000,-25.800000,962.000000,1.109000,0.000000,0.100000,-25.800000,1.109000,0.000000,0.000000,-25.800000,1.109000,0.000000,0.100000,-25.800000,1.109000
25%,144.000000,2.000000,-2.990000,987.450000,1.174000,131.000000,1.600000,-2.990000,1.174000,172.000000,3.490000,-2.990000,1.174000,180.000000,5.330000,-2.990000,1.174000
50%,207.000000,2.700000,9.730000,994.630000,1.225000,205.000000,2.140000,9.730000,1.225000,213.000000,5.200000,9.730000,1.225000,215.000000,8.250000,9.730000,1.225000
75%,256.000000,3.840000,20.130000,1002.280000,1.292000,252.000000,3.160000,20.130000,1.292000,265.000000,7.000000,20.130000,1.292000,270.000000,11.200000,20.130000,1.292000
max,359.000000,11.000000,35.800000,1021.400000,1.432000,359.000000,9.700000,35.800000,1.432000,359.000000,16.000000,35.800000,1.432000,359.000000,23.000000,35.800000,1.432000

Minimum time difference: 0 days 00:15:00
Maximum time difference: 2 days 00:15:00

NWP has no missing values, but the time points are not uniformly distributed.


Measurement has missing values for all variables except for the date_time, so we know that the time stamps are all evenly distributed with 15 minutes steps.


Where do we see the time zone?